Repository homebridge/homebridge-config-ui-x, pull requests merged in 2023-11, with the labels that each got.

#1694 update de.json
  ui/src/i18n/de.json
Labels: nextVersion

#1760 Fix for Accessories - last row
  ui/src/app/modules/accessories/accessories.component.html
Labels: alpha

#1762 menu fix 2
  ui/src/scss/base/layout.scss
Labels: alpha

#1763 accessories fix 2
  ui/src/app/modules/accessories/accessories.component.html
Labels: alpha

#1765 Fix logo when collapsed
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1766 fix menu hamburger
  ui/src/app/shared/layout/layout.component.html
Labels: alpha

#1767 Sticky sidebar
  ui/src/app/shared/layout/layout.component.html
Labels: alpha

#1770 fix logo in sidebar on light themes and submenu display
  ui/src/app/shared/layout/layout.component.scss
  ui/src/scss/themes/themes-light.scss
Labels: alpha

#1768 Accessories fix
  ui/src/app/modules/accessories/accessories.component.html
Labels: alpha

#1773 quickfix for padding on mobile
  ui/src/app/shared/layout/layout.component.html
  ui/src/scss/base/layout.scss
Labels: alpha

#1776 fix plugin search border and background
  ui/src/scss/themes/themes-dark.scss
  ui/src/scss/themes/themes-light.scss
Labels: alpha

#1778 fix log buttons
  ui/src/app/modules/logs/logs.component.scss
Labels: alpha

#1781 added dropdown to mobile menu
  ui/src/app/shared/layout/layout.component.html
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1777 remove node 11 polyfill from self-check
  CHANGELOG.md
  package-lock.json
  package.json
  src/self-check.ts
  ui/package-lock.json
  ui/package.json
Labels: beta

#1784 menu next fix
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1757 code fixes, types, simplifying
  CHANGELOG.md
  src/bin/hb-service.ts
  ui/src/app/app.component.ts
  ui/src/app/core/accessories/accessory-tile/accessory-tile.component.ts
  ui/src/app/core/backup-restore/scheduled-backups/scheduled-backups.component.html
  ui/src/app/core/components/confirm/confirm.component.html
  ui/src/app/core/components/confirm/confirm.component.ts
  ui/src/app/core/components/information/information.component.html
  ui/src/app/core/directives/json-schema-form-patch.directive.ts
  ui/src/app/core/manage-plugins/bridge-plugins-modal/bridge-plugins-modal.component.ts
  ui/src/app/core/manage-plugins/select-previous-version/select-previous-version.component.html
  ui/src/app/core/mobile-detect.service.ts
  ui/src/app/core/settings.service.ts
  ui/src/app/core/terminal.service.ts
  ui/src/app/modules/config-editor/config-editor.component.ts
  ui/src/app/modules/config-editor/config-restore-backup/config.restore-backup.component.html
  ui/src/app/modules/logs/logs.component.ts
  ui/src/app/modules/plugins/donate-modal/donate-modal.component.ts
  ui/src/app/modules/plugins/plugins.component.ts
  ui/src/app/modules/restart/restart.component.ts
  ui/src/app/modules/restart/restart.module.ts
  ui/src/app/modules/settings/select-network-interfaces/select-network-interfaces.component.html
  ui/src/app/modules/settings/unpair-accessory-modal/unpair-accessory-modal.component.ts
  ui/src/app/modules/setup-wizard/setup-wizard.guard.ts
  ui/src/app/modules/status/status.component.ts
  ui/src/app/modules/status/status.module.ts
  ui/src/app/modules/status/widget-add/widget-add.component.ts
  ui/src/app/modules/status/widget-control/widget-control.component.ts
  ui/src/app/modules/status/widgets/system-info-widget/system-info-widget.component.html
  ui/src/app/modules/users/users-add/users-add.component.html
  ui/src/app/modules/users/users-setup2fa/users-setup2fa.component.html
  ui/src/app/modules/users/users-setup2fa/users-setup2fa.component.ts
  ui/src/app/modules/users/users.component.ts
  ui/src/app/modules/users/users.resolver.ts
Labels: fix, beta

#1785 fix plugin search background
  ui/src/scss/themes/themes-dark.scss
  ui/src/scss/themes/themes-light.scss
Labels: alpha

#1786 menu fix dropdown
  ui/src/app/app.component.ts
Labels: alpha

#1787 Fix dropdown
  ui/src/app/app.component.ts
  ui/src/app/shared/layout/layout.component.html
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1789 add UI details to status widget
  CHANGELOG.md
  src/modules/plugins/plugins.service.ts
  src/modules/status/status.gateway.ts
  ui/src/app/core/settings.service.ts
  ui/src/app/modules/status/widgets/homebridge-status-widget/homebridge-status-widget.component.html
  ui/src/app/modules/status/widgets/homebridge-status-widget/homebridge-status-widget.component.ts
Labels: beta

#1797 fix for menu colors
  ui/src/app/shared/layout/layout.component.html
  ui/src/app/shared/layout/layout.component.scss
  ui/src/scss/themes/themes-dark.scss
  ui/src/scss/themes/themes-light.scss
Labels: alpha

#1798 quickfix for one element
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1802 add pi undervoltage
  ui/src/app/shared/layout/layout.component.html
Labels: alpha

#1803 fix accessory setting button position
  ui/src/scss/components/accessories.scss
Labels: alpha

#1805 Change bacground of config editor on dark theme
  ui/src/scss/themes/themes-dark.scss
Labels: alpha

#1808 animation when opening dropdown (in mobile menu)
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1807 Truncate Plugin name to 2 lines
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.scss
Labels: alpha

#1800 graceful fail when issue with node dist list response
  CHANGELOG.md
  src/bin/hb-service.ts
Labels: beta

#1806 modal pics + node update modal
  CHANGELOG.md
  package-lock.json
  ui/package-lock.json
  ui/src/app/core/components/confirm/confirm.component.html
  ui/src/app/core/components/confirm/confirm.component.ts
  ui/src/app/core/components/information/information.component.html
  ui/src/app/core/components/information/information.component.ts
  ui/src/app/core/manage-plugins/node-update-required-modal/node-update-required-modal.component.html
  ui/src/app/modules/logs/logs.component.ts
  ui/src/app/modules/plugins/donate-modal/donate-modal.component.html
  ui/src/app/modules/plugins/donate-modal/donate-modal.component.ts
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.ts
  ui/src/app/modules/restart/restart.component.html
  ui/src/app/modules/status/widgets/system-info-widget/system-info-widget.component.html
  ui/src/app/modules/status/widgets/system-info-widget/system-info-widget.component.ts
  ui/src/app/shared/layout/layout.component.ts
  ui/src/i18n/bg.json
  ui/src/i18n/ca.json
  ui/src/i18n/cs.json
  ui/src/i18n/de.json
  ui/src/i18n/en.json
  ui/src/i18n/es.json
  ui/src/i18n/fr.json
  ui/src/i18n/he.json
  ui/src/i18n/hu.json
  ui/src/i18n/id.json
  ui/src/i18n/it.json
  ui/src/i18n/ja.json
  ui/src/i18n/ko.json
  ui/src/i18n/mk.json
  ui/src/i18n/nl.json
  ui/src/i18n/no.json
  ui/src/i18n/pl.json
  ui/src/i18n/pt-BR.json
  ui/src/i18n/pt.json
  ui/src/i18n/ru.json
  ui/src/i18n/sl.json
  ui/src/i18n/sv.json
  ui/src/i18n/th.json
  ui/src/i18n/tr.json
  ui/src/i18n/uk.json
  ui/src/i18n/zh-CN.json
  ui/src/i18n/zh-TW.json
Labels: beta

#1799 Update pl.json
  ui/src/i18n/pl.json
Labels: alpha

#1810 Fix dropdown caret animation + some cleaning
  ui/src/app/shared/layout/layout.component.html
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1812 Add wordwrap to accessory table display
  ui/src/app/core/accessories/info-modal/info-modal.component.html
Labels: alpha

#1813 New plugin layout - first approach
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1816 plugin card fix 2
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1817 plugin card fix 3
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1820 add power options modal
  CHANGELOG.md
  ui/src/app/app.module.ts
  ui/src/app/shared/layout/layout.component.html
  ui/src/app/shared/layout/layout.component.ts
  ui/src/app/shared/layout/restart-modal/restart-modal.component.html
  ui/src/app/shared/layout/restart-modal/restart-modal.component.scss
  ui/src/app/shared/layout/restart-modal/restart-modal.component.ts
  ui/src/i18n/bg.json
  ui/src/i18n/ca.json
  ui/src/i18n/cs.json
  ui/src/i18n/de.json
  ui/src/i18n/en.json
  ui/src/i18n/es.json
  ui/src/i18n/fr.json
  ui/src/i18n/he.json
  ui/src/i18n/hu.json
  ui/src/i18n/id.json
  ui/src/i18n/it.json
  ui/src/i18n/ja.json
  ui/src/i18n/ko.json
  ui/src/i18n/mk.json
  ui/src/i18n/nl.json
  ui/src/i18n/no.json
  ui/src/i18n/pl.json
  ui/src/i18n/pt-BR.json
  ui/src/i18n/pt.json
  ui/src/i18n/ru.json
  ui/src/i18n/sl.json
  ui/src/i18n/sv.json
  ui/src/i18n/th.json
  ui/src/i18n/tr.json
  ui/src/i18n/uk.json
  ui/src/i18n/zh-CN.json
  ui/src/i18n/zh-TW.json
Labels: beta

#1822 Plugin card next fix
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.scss
  ui/src/app/shared/layout/layout.component.html
Labels: alpha

#1828 plugin card quickfix
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1830 remove hb-ui card from plugins page
  CHANGELOG.md
  ui/src/app/app-routing.module.ts
  ui/src/app/core/manage-plugins/donate-modal/donate-modal.component.html
  ui/src/app/core/manage-plugins/donate-modal/donate-modal.component.scss
  ui/src/app/core/manage-plugins/donate-modal/donate-modal.component.ts
  ui/src/app/core/manage-plugins/manage-plugins.module.ts
  ui/src/app/core/manage-plugins/settings-plugins-modal/settings-plugins-modal.component.html
  ui/src/app/core/manage-plugins/settings-plugins-modal/settings-plugins-modal.component.ts
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.ts
  ui/src/app/modules/plugins/plugins.component.html
  ui/src/app/modules/plugins/plugins.module.ts
  ui/src/app/modules/support/support-routing.module.ts
  ui/src/app/modules/support/support.component.html
  ui/src/app/modules/support/support.component.scss
  ui/src/app/modules/support/support.component.ts
  ui/src/app/modules/support/support.module.ts
  ui/src/app/shared/layout/layout.component.html
  ui/src/i18n/bg.json
  ui/src/i18n/ca.json
  ui/src/i18n/cs.json
  ui/src/i18n/de.json
  ui/src/i18n/en.json
  ui/src/i18n/es.json
  ui/src/i18n/fr.json
  ui/src/i18n/he.json
  ui/src/i18n/hu.json
  ui/src/i18n/id.json
  ui/src/i18n/it.json
  ui/src/i18n/ja.json
  ui/src/i18n/ko.json
  ui/src/i18n/mk.json
  ui/src/i18n/nl.json
  ui/src/i18n/no.json
  ui/src/i18n/pl.json
  ui/src/i18n/pt-BR.json
  ui/src/i18n/pt.json
  ui/src/i18n/ru.json
  ui/src/i18n/sl.json
  ui/src/i18n/sv.json
  ui/src/i18n/th.json
  ui/src/i18n/tr.json
  ui/src/i18n/uk.json
  ui/src/i18n/zh-CN.json
  ui/src/i18n/zh-TW.json
Labels: beta

#1829 plugin card next fix
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.scss
  ui/src/app/shared/layout/layout.component.html
Labels: alpha

#1831 plugin card fix
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
  ui/src/scss/base/modal.scss
Labels: alpha

#1832 plugin card
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.ts
Labels: alpha

#1835 plugin card fix (last?)
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.scss
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.ts
  ui/src/scss/base/modal.scss
Labels: alpha

#1843 fix for install alternate plugin version
  ui/src/app/core/manage-plugins/select-previous-version/select-previous-version.component.html
  ui/src/app/core/manage-plugins/select-previous-version/select-previous-version.component.ts
Labels: alpha

#1846 quickfix - install alternate version
  ui/src/app/core/manage-plugins/select-previous-version/select-previous-version.component.html
Labels: alpha

#1847 plugin dropdown animation - 2s
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1848 Update pl.json
  ui/src/i18n/pl.json
Labels: alpha

#1850 Plugin card some small fixes
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1849 fix translations in sidebar
  ui/src/app/shared/layout/layout.component.html
Labels: alpha

#1854 quickfix 1 for plugin card
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1858 plugin card small fix - not important
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
  ui/src/scss/themes/themes-dark.scss
  ui/src/scss/themes/themes-light.scss
Labels: alpha

#1860 Plugin card Quickfix
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1864 plugin card name - next try
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1838 Add All Config Options to UI Settings
  CHANGELOG.md
  config.schema.json
Labels: beta

#1869 show all 4 info in homebridge widget without having to scroll down
  ui/src/app/modules/status/widgets/homebridge-status-widget/homebridge-status-widget.component.html
  ui/src/app/modules/status/widgets/homebridge-status-widget/homebridge-status-widget.component.scss
Labels: alpha

#1871 Add UUID to accessory info modal
  ui/src/app/core/accessories/info-modal/info-modal.component.html
Labels: alpha

#1873 widget homebridge spaces
  ui/src/app/modules/status/widgets/homebridge-status-widget/homebridge-status-widget.component.html
Labels: alpha

#1875 fix accessories cog icon on mobile
  ui/src/scss/components/accessories.scss
Labels: alpha

#1872 add username next to logout button (mobile)
  ui/src/app/shared/layout/layout.component.html
Labels: alpha

#1876 accessory id fix
  ui/src/app/core/accessories/info-modal/info-modal.component.html
Labels: alpha

#1877 add UUID to label in remove accessory from cache
  ui/src/app/modules/settings/remove-single-cached-accessory-modal/remove-single-cached-accessory-modal.component.html
Labels: alpha

#1882 fix UUID in remove accessory from cache
  ui/src/app/modules/settings/remove-single-cached-accessory-modal/remove-single-cached-accessory-modal.component.html
Labels: alpha

#1883 username below user display name
  ui/src/app/modules/users/users.component.html
Labels: alpha

#1879 fix accessories cog on mobile
  ui/src/scss/components/accessories.scss
Labels: alpha

#1880 Remove word Homebridge and homebridge in child bridge widget (like in plugin card)
  ui/src/app/modules/status/widgets/child-bridge-widget/child-bridge-widget.component.html
Labels: alpha

#1884 fix username
  ui/src/app/modules/users/users.component.html
Labels: alpha

#1885 User card
  ui/src/app/modules/users/users.component.html
Labels: alpha

#1886 Remove tooltip add user (it doesnt hide on mobile)
  ui/src/app/modules/users/users.component.html
Labels: alpha

#1888 add serial number to remove one accessory from cache
  ui/src/app/modules/settings/remove-single-cached-accessory-modal/remove-single-cached-accessory-modal.component.html
Labels: alpha

#1889 accessories - change icon when layout lock, remove dropdown option when layout lock
  ui/src/app/modules/accessories/accessories.component.html
Labels: alpha
