Repository homebridge/homebridge-config-ui-x, pull requests merged in 2023-12, with the labels that each got.

#1893 Fix too long label in windowcovering.component.html
  ui/src/app/core/accessories/types/windowcovering/windowcovering.component.html
Labels: alpha

#1909 [alpha] Slide menu on mobile
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1911 Add semi transparent background (overlay) when slide menu open + small fixes
  ui/src/app/shared/layout/layout.component.scss
Labels: alpha

#1914 4.54.1
  .github/workflows/Attach Artifacts.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: latest

#1929 Update pl.json
  ui/src/i18n/pl.json
Labels: beta

#1918 Improve plugin card hyperlinks
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: beta

#1926 Plugin card changes
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: beta

#1933 accessory title fix (lights + windows)
  ui/src/scss/themes/themes-dark.scss
Labels: beta

#1935 Update plugin-card.component.html
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1938 Update fr.json
  ui/src/i18n/fr.json
Labels: beta

#1941 Update info-modal.component.html
  ui/src/app/core/accessories/info-modal/info-modal.component.html
Labels: alpha

#1940 .btn-close - dark themes
  ui/src/scss/themes/themes-dark.scss
Labels: alpha

#1939 Update plugin-card.component.html
  ui/src/app/modules/plugins/plugin-card/plugin-card.component.html
Labels: alpha

#1937 Update support.component.html
  ui/src/app/modules/support/support.component.html
Labels: alpha

#1936 Update settings.component.html
  ui/src/app/modules/settings/settings.component.html
Labels: alpha

#1943 Update homebridge-status-widget.component.html
  ui/src/app/modules/status/widgets/homebridge-status-widget/homebridge-status-widget.component.html
Labels: alpha

#1949 Fix for backup service including npm's cache, and therefore being too…
  src/modules/backup/backup.service.ts
Labels: beta

#1956 fix footer paddings for mobile and desktop
  ui/src/app/modules/status/status.component.html
Labels: beta
