Repository homebridge/homebridge-config-ui-x, pull requests merged in 2024-01, with the labels that each got.

#1964 Fixes for Missing "passport" package from Synology builds
  CHANGELOG.md
  package-lock.json
  package.json
Labels: fix, latest

#1974 Update fr.json
  ui/src/i18n/fr.json
Labels: beta, latest

#1976 Fix for #1975
  package-lock.json
  package.json
Labels: beta

#1978 Update uk.json
  ui/src/i18n/uk.json
Labels: latest

#1979 Update uk.json
  ui/src/i18n/uk.json
Labels: beta

#1961 Update power-options.component.html
  ui/src/app/shared/layout/power-options/power-options.component.html
Labels: alpha

#1982 Update th.json
  ui/src/i18n/th.json
Labels: beta

#1985 Update remove-single-cached-accessory-modal.component.html - add warning to alert
  ui/src/app/modules/settings/remove-single-cached-accessory-modal/remove-single-cached-accessory-modal.component.html
Labels: beta

#1991 Update fr.json
  ui/src/i18n/fr.json
Labels: beta
