Repository homebridge/homebridge-config-ui-x, pull requests merged in 2024-04, with the labels that each got.

#2034 drop `@homebridge/node-pty-prebuilt-multiarch` to `v0.11.12`
  CHANGELOG.md
  package-lock.json
  package.json
  ui/package-lock.json
  ui/package.json
Labels: latest

#2039 Update zh-TW.json
  ui/src/i18n/zh-TW.json
Labels: beta, latest

#2051 Update de.json
  ui/src/i18n/de.json
Labels: beta

#2054 beta
  .github/release-drafter.yml
  .github/workflows/Attach Artifacts.yml
  .github/workflows/alpha-release.yml
  .github/workflows/beta-release.yml
  .github/workflows/discord-webhooks.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src/index.ts
  src/modules/plugins/plugins.service.ts
  test/e2e/status.e2e-spec.ts
  upgrade-install.sh
Labels: latest
