Repository homebridge/homebridge-config-ui-x, pull requests merged in 2024-07, with the labels that each got.

#2087 fix: EventEmitter memory leak warnings when you have a significant number of child bridges.
  src/core/homebridge-ipc/homebridge-ipc.service.ts
  src/modules/child-bridges/child-bridges.service.ts
Labels: latest

#2074 Add messaging around backup files exceeding maximum restore size
  package.json
  src/globalDefaults.ts
  src/main.ts
  src/modules/backup/backup.controller.ts
  src/modules/backup/backup.service.ts
  test/e2e/backup.e2e-spec.ts
  test/jest-e2e.json
  ui/src/app/modules/settings/backup/backup.component.html
  ui/src/app/modules/settings/backup/backup.component.ts
  ui/src/i18n/bg.json
  ui/src/i18n/ca.json
  ui/src/i18n/cs.json
  ui/src/i18n/de.json
  ui/src/i18n/en.json
  ui/src/i18n/es.json
  ui/src/i18n/fr.json
  ui/src/i18n/he.json
  ui/src/i18n/hu.json
  ui/src/i18n/id.json
  ui/src/i18n/it.json
  ui/src/i18n/ja.json
  ui/src/i18n/ko.json
  ui/src/i18n/mk.json
  ui/src/i18n/nl.json
  ui/src/i18n/no.json
  ui/src/i18n/pl.json
  ui/src/i18n/pt-BR.json
  ui/src/i18n/pt.json
  ui/src/i18n/ru.json
  ui/src/i18n/sl.json
  ui/src/i18n/sv.json
  ui/src/i18n/th.json
  ui/src/i18n/tr.json
  ui/src/i18n/uk.json
  ui/src/i18n/zh-CN.json
  ui/src/i18n/zh-TW.json
  ui/src/main.ts
Labels: beta

#2099 Update Swedish translations
  ui/src/i18n/sv.json
Labels: beta

#2092 Tweak Backup messages
  src/modules/backup/backup.service.ts
  ui/src/app/modules/settings/backup/backup.component.html
  ui/src/i18n/bg.json
  ui/src/i18n/ca.json
  ui/src/i18n/cs.json
  ui/src/i18n/de.json
  ui/src/i18n/en.json
  ui/src/i18n/es.json
  ui/src/i18n/fr.json
  ui/src/i18n/he.json
  ui/src/i18n/hu.json
  ui/src/i18n/id.json
  ui/src/i18n/it.json
  ui/src/i18n/ja.json
  ui/src/i18n/ko.json
  ui/src/i18n/mk.json
  ui/src/i18n/nl.json
  ui/src/i18n/no.json
  ui/src/i18n/pl.json
  ui/src/i18n/pt-BR.json
  ui/src/i18n/pt.json
  ui/src/i18n/ru.json
  ui/src/i18n/sl.json
  ui/src/i18n/sv.json
  ui/src/i18n/th.json
  ui/src/i18n/tr.json
  ui/src/i18n/uk.json
  ui/src/i18n/zh-CN.json
  ui/src/i18n/zh-TW.json
Labels: beta, latest

#2103 Update pl.json
  ui/src/i18n/pl.json
Labels: beta

#2106 Update pl.json
  ui/src/i18n/pl.json
Labels: beta

#2117 Fix for backups including cache, and therefore being too large to upload and restore.
  src/modules/backup/backup.service.ts
Labels: beta
