Repository homebridge/homebridge-config-ui-x, pull requests merged in 2025-07, with the labels that each got.

#2487 Update Dutch translation
  ui/src/i18n/nl.json
Labels: latest

#2488 Display Docker Version Details in the Update Information Box
  src/modules/platform-tools/docker/docker.service.ts
  src/modules/status/status.gateway.ts
  src/modules/status/status.service.ts
  ui/src/app/core/components/information/information.component.html
  ui/src/app/core/components/information/information.component.scss
  ui/src/app/core/components/information/information.component.ts
  ui/src/app/modules/status/widgets/update-info-widget/update-info-widget.component.html
  ui/src/app/modules/status/widgets/update-info-widget/update-info-widget.component.ts
  ui/src/i18n/en.json
Labels: beta

#2493 Terminal Session Persistence and macOS Shell Optimization
  src/core/config/config.service.ts
  src/globalDefaults.ts
  src/modules/platform-tools/terminal/terminal.controller.ts
  src/modules/platform-tools/terminal/terminal.gateway.ts
  src/modules/platform-tools/terminal/terminal.module.ts
  src/modules/platform-tools/terminal/terminal.service.ts
  test/e2e/auth.e2e-spec.ts
  test/e2e/plugin-settings-ui.e2e-spec.ts
  ui/src/app/app-routing.module.ts
  ui/src/app/core/components/confirm/confirm.component.html
  ui/src/app/core/components/confirm/confirm.component.ts
  ui/src/app/core/settings.interfaces.ts
  ui/src/app/core/settings.service.ts
  ui/src/app/core/terminal-navigation-guard.service.ts
  ui/src/app/core/terminal.service.ts
  ui/src/app/modules/platform-tools/terminal/terminal-routing.module.ts
  ui/src/app/modules/platform-tools/terminal/terminal.component.ts
  ui/src/app/modules/settings/settings.component.html
  ui/src/app/modules/settings/settings.component.ts
  ui/src/app/modules/status/status.component.ts
  ui/src/app/modules/status/widgets/homebridge-logs-widget/homebridge-logs-widget.component.ts
  ui/src/app/modules/status/widgets/terminal-widget/terminal-widget.component.ts
  ui/src/i18n/bg.json
  ui/src/i18n/ca.json
  ui/src/i18n/cs.json
  ui/src/i18n/de.json
  ui/src/i18n/en.json
  ui/src/i18n/es.json
  ui/src/i18n/fi.json
  ui/src/i18n/fr.json
  ui/src/i18n/he.json
  ui/src/i18n/hu.json
  ui/src/i18n/id.json
  ui/src/i18n/it.json
  ui/src/i18n/ja.json
  ui/src/i18n/ko.json
  ui/src/i18n/mk.json
  ui/src/i18n/nl.json
  ui/src/i18n/no.json
  ui/src/i18n/pl.json
  ui/src/i18n/pt-BR.json
  ui/src/i18n/pt.json
  ui/src/i18n/ru.json
  ui/src/i18n/sl.json
  ui/src/i18n/sv.json
  ui/src/i18n/th.json
  ui/src/i18n/tr.json
  ui/src/i18n/uk.json
  ui/src/i18n/zh-CN.json
  ui/src/i18n/zh-TW.json
Labels: beta, latest
