Repository homebridge/homebridge-config-ui-x, pull requests merged in 2025-06, with the labels that each got.

#2447 Real Time Dark Mode with Plugin Custom UI's
  src/modules/custom-plugins/plugins-settings-ui/plugins-settings-ui.service.ts
  ui/src/app/core/manage-plugins/custom-plugins/custom-plugins.component.ts
  ui/src/app/core/settings.service.ts
Labels: beta

#2451 NodeJS 24 initial support
  .github/workflows/validate.yml
  CHANGELOG.md
  package-lock.json
  package.json
Labels: beta, latest

#2472 Update th.json
  ui/src/i18n/th.json
Labels: latest
